html {
    box-sizing: border-box;
  }
  *,
  *:before,
  *:after {
    box-sizing: border-box;
  }

 
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
/*article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}*/
body {
  line-height: 1;

}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  margin: 0;
  /* font-family: "Gilroy", sans-serif; */
 
}

html,
body {
  height: 100%;
  margin: 0;
  /* background: #e9eaed; */
}

/* code {
  font-family: "Gilroy", sans-serif;
} */




@font-face {
    font-family: "Druk Cond Super";
    src: url('./fonts/Druk Cond Super.otf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: "Druk Wide Super";
    src: url('./fonts/Druk Wide Super.otf');
    font-weight: normal;
    font-style: normal;
    
}

@font-face {
    font-family: "Helvetica Neue Bold";
    src: url('./fonts/Helvetica-Neue-Bold_22498.ttf');
    font-weight: normal;
    font-style: normal;
   
}



.header {
    display:flex;
    position:relative;
    height: 120px;
    width: 1440px;
    background:#FFFFFF;
    border-bottom:1px solid #D8D8D8;
    z-index:100;
    
}

.header-image {
    font-family: "Apple Color Emoji";
}

.header-capital-letter {
    position:absolute;
    left:60px;
    height: 87px;
    justify-content:end;
    width: 25px;
    color: #000000;
    font-family: "Druk Cond Super";
    font-size: 80px;
    letter-spacing: 0;
    line-height: 89px;

}

.header-image {
    position:absolute;
    right:57px;
    height: 66px;
    width: 50px;
    color: #000000;
    font-family: "Apple Color Emoji";
    font-size: 50px;
    letter-spacing: 0;
    line-height: 66px;
    
}

.beers-title {
    display:flex;
    align-items: center;
    height: 1131px;
    writing-mode: vertical-rl;
    color: #FFCF00;
    font-family: "Druk Wide Super";
    font-size: 884px;
    letter-spacing: 0;
    line-height: 1157px;
    /* background-color:red; */
    margin: 0 auto;
    margin-top:-400px;
    z-index:0;
}

.arcade-nation-beer {
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    position:absolute;
    left:120px;
    top:445px;
    height: 171px;
    width: 299px;


}

.arcade-nation-title {
    height: 64px;
    width: 299px;
    color: #000000;
    font-family: "Druk Cond Super";
    font-size: 80px;
    letter-spacing: 0;
    line-height: 64px;
    margin-bottom:10px;
    text-align:right;
   

}

.arcade-nation-subtitle{
    height: 30px;
    width: 240px;
    color: #000000;
    font-family: "Helvetica Neue Bold";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom:15px;
    text-align:right;

}

.see-more-btn {
    height: 49px;
    width: 180px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Helvetica Neue Bold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 49px;
    padding:0;
    border:0;

}


.movember-beer {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    position:absolute;
    right:130px;
    top:790px;
    height: 185px;
    width: 298px;


}

.movember-title {
    height: 64px;
    width: 298px;
    color: #000000;
    font-family: "Druk Cond Super";
    font-size: 80px;
    letter-spacing: 0;
    line-height: 64px;
    margin-bottom:10px;
    text-align:left;
   

}

.movember-subtitle{
    height: 30px;
    width: 240px;
    color: #000000;
    font-family: "Helvetica Neue Bold";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom:20px;
    text-align:left;

}

.see-more-btn {
    height: 49px;
    width: 180px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Helvetica Neue Bold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 49px;
    padding:0;
    border:0;
  

}

.alpha-dog-beer {
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    position:absolute;
    left:120px;
    top:1470px;
    height: 171px;
    width: 299px;


}

.alpha-dog-title {
    height: 64px;
    width: 299px;
    color: #000000;
    font-family: "Druk Cond Super";
    font-size: 80px;
    letter-spacing: 0;
    line-height: 64px;
    margin-bottom:10px;
    text-align:right;
   

}

.alpha-dog-subtitle{
    height: 30px;
    width: 240px;
    color: #000000;
    font-family: "Helvetica Neue Bold";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom:15px;
    text-align:right;

}

.see-more-btn {
    height: 49px;
    width: 180px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Helvetica Neue Bold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 49px;
    padding:0;
    border:0;

}



.mixtape-beer {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    position:absolute;
    right:130px;
    top:1816px;
    height: 185px;
    width: 298px;


}

.mixtape-title {
    height: 64px;
    width: 298px;
    color: #000000;
    font-family: "Druk Cond Super";
    font-size: 80px;
    letter-spacing: 0;
    line-height: 64px;
    margin-bottom:10px;
    text-align:left;
   

}

.mixtape-subtitle{
    height: 66px;
    width: 299px;
    color: #000000;
    font-family: "Helvetica Neue Bold";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom:20px;
    text-align:left;

}

.see-more-btn {
    height: 49px;
    width: 180px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Helvetica Neue Bold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 49px;
    padding:0;
    border:0;
  

}


.libertine-porter-beer {
    display:flex;
    flex-direction: column;
    align-items:flex-end;
    position:absolute;
    left:120px;
    top:2350px;
    height: 253px;
    width: 301px;


}

.libertine-porter-title {
    height: 128px;
    width: 301px;
    color: #000000;
    font-family: "Druk Cond Super";
    font-size: 80px;
    letter-spacing: 0;
    line-height: 64px;
    margin-bottom:10px;
    text-align:right;
   

}

.libertine-porter-subtitle{
    height: 48px;
    width: 301px;
    color: #000000;
    font-family: "Helvetica Neue Bold";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 30px;
    margin-bottom:15px;
    text-align:right;

}

.see-more-btn {
    height: 49px;
    width: 180px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Helvetica Neue Bold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 49px;
    padding:0;
    border:0;

}


.ab-beer {
    display:flex;
    flex-direction: column;
    align-items:flex-start;
    position:absolute;
    right:130px;
    top:2655px;
    height: 163px;
    width: 298px;


}

.ab-title {
    height: 64px;
    width: 298px;
    color: #000000;
    font-family: "Druk Cond Super";
    font-size: 80px;
    letter-spacing: 0;
    line-height: 64px;
    margin-bottom:10px;
    text-align:left;
   

}

.ab-subtitle{
    height: 22px;
    width: 299px;
    color: #000000;
    font-family: "Helvetica Neue Bold";
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 22px;
    margin-bottom:20px;
    text-align:left;

}

.see-more-btn {
    height: 49px;
    width: 180px;
    background-color: #000000;
    color: #FFFFFF;
    font-family: "Helvetica Neue Bold";
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 0;
    line-height: 49px;
    padding:0;
    border:0;
  

}


